.Header {
  background-color:#00A1B9;
    height: 90px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .App-logo {
    height: 100%;
    pointer-events: none;
  }
  .navTitle{
    margin-top: 10px;
    text-shadow: 1px 1px 1px #00A1B9;
    box-shadow: 2px 2px  #ffffff;
  }
  h1{
    color: #fff;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    text-shadow: 4px 4px 4px #000000;
  }
  body{
    background: #efefbb; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #efefbb, #d4d3dd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #efefbb, #d4d3dd); 
    height: 100vh;
  }
